fastapi
uvicorn
python-multipart
tensorflow-cpu==2.15.0      <-- Pin this version
tensorflow-hub
librosa
numpy<2.0.0                 <-- Pin numpy to match older TF
scikit-learn>=1.8.0
joblib
psycopg2-binary